relations-dil==0.6.16
relations-restx @ git+https://github.com/relations-dil/python-relations-restx.git@73d0fcf18574a01e6aa669164807fdfbdb50a20d
requests==2.25.1
ptvsd==4.3.2
coverage==5.2.1
pylint==2.5.3
